<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource.data" matSort class="mat-elevation-z8" >
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          <div style="display: flex; align-items: center;">
            <span mat-sort-header>{{column}}</span>
            <button mat-icon-button>
              <mat-icon mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{columnName: column}">filter_list </mat-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
  
      <ng-container [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon mat-icon-button color='primary'>edit</mat-icon>
          </button>
  
          <button mat-icon-button (click)="delete(element['id'])">
            <mat-icon mat-icon-button color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"style = "background-color:rgb(97, 182, 163)"></tr>
      <tr mat-row (click)="employeePage(row)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator  [length]="5"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>

</div>
  
  <!-- menu for column filtering-->
  
  <mat-menu #menu="matMenu" class="matMenu">
    <ng-template matMenuContent let-dataColumnName="columnName">
      <div class="flex-column" (click)="$event.stopPropagation();">
        <div class="mb-5">
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Choose a filter *</mat-label>
            <mat-select #selectedOperationFilter [value]="'contains'">
              <mat-option value="contains" select>Contains</mat-option>
              <mat-option value="equals">Equals</mat-option>
              <mat-option value="greaterThan">Greater than</mat-option>
              <mat-option value="lessThan">Less than</mat-option>
              <mat-option value="endWith">End with</mat-option>
              <mat-option value="startWith">Start With</mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>
  
        <div class="mb-5 fullWidth">
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>write a value*</mat-label>
            <input matInput #searchValue type="text">
          </mat-form-field>
        </div>
  
        <div class="fullWidth flex-row mb-5 flex-justify-space-between">
          <button [disabled]="!searchValue.value" mat-raised-button color="primary"
            class="flex-row flex-align-center btn-filter-action"
            (click)="applyFilter(dataColumnName, 
                     selectedOperationFilter.value,  searchValue.value)">
  
            <mat-icon>check</mat-icon>
            <label>filter</label>
          </button>
  
          <button mat-raised-button 
           class="flex-row flex-align-center btn-filter-action" color="warn"
            (click)="clearFilter(dataColumnName)">
            <mat-icon>clear</mat-icon>
            <label>reset</label>
          </button>
        </div>
      </div>
    </ng-template>
  </mat-menu>