.sidenav-container {
  height: 100%;
  background: rgb(60, 146, 148);
}

.sidenav {
  width: 200px;
  background: rgb(127, 127, 127);
}

.sidenav .mat-toolbar {
  background: rgb(127, 127, 127);
}
.mat-toolbar{
  /* background: rgb(60, 146, 148); */
    background: white;
    color:rgb(127, 127, 127);
}
.mat-toolbar.mat-secondary {
  position: sticky;
  top: 10;
  z-index: 1;

}

.whitelink {
  color:rgb(127, 127, 127);
  text-decoration:none;
  margin-left:5px; 

}

.spacer {
  width:100%; 
  background:  rgb(60, 146, 148);
}

.whitelink1 {
  color:white;
  text-decoration:none;
  margin-left:5px;
  cursor: pointer; 
}
