table {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td {
    width: 25%;
    font-size: 20px;
  
}
th {
    width: 25%;
    font-size: 20px;
    background-color:#e0e0e0;
    
}

tr.example-detail-row {
  height: 0;
  background-color: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;

}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 4px;
  font-weight: lighter;
  margin: 8px 0;
  height: 80px;
}