
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap" style = "max-height: 700px;">
  <form [formGroup]="employeeForm">
	<!-- Card column -->
	<div fxFlex.gt-sm="80%" fxFlex="80">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Stepper variants <span class="bg-success text-white rounded font-12 pl-5 pr-5">New</span></mat-card-title>
				<mat-card-subtitle>There are two stepper components: <code>mat-horizontal-stepper</code> and <code>mat-vertical-stepper</code>. They can be used the same way. The only difference is the orientation of stepper.</mat-card-subtitle>

				<!-- <button mat-raised-button (click)="isLinearvarient = !isLinearvarient" id="toggle-linear">
				  {{!isLinearvarient ? 'Enable linear mode' : 'Disable linear mode'}}
				</button>[linear]="isLinearvarient" -->
				<mat-horizontal-stepper  #steppervarient class="m-t-20">
				  <mat-step [stepControl]="varientfirstFormGroup">
				    <form [formGroup]="varientfirstFormGroup">
				      <ng-template matStepLabel>Fill out your name</ng-template>
              <mat-form-field appearance="standard">
                First Name:
                <input matInput  type="text" 
                  [(ngModel)] = "firstName"
                  [ngModelOptions]="{standalone: true}"
                  name = "firstName"
                  placeholder="Last name First name"
                  required>
              </mat-form-field>
              <mat-form-field appearance="standard">
                Last Name:
               <input matInput   type="text" 
                 [(ngModel)] = "lastName"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Last name First name"
                 name = "lastName"
                 required>
             </mat-form-field>
            <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="gender"  name = "gender">
              <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
                  {{gender}}  
              </mat-radio-button>
              </mat-radio-group>

              <mat-form-field appearance="standard">
                Employee age:
                <input matInput  type="number"
                  [(ngModel)] = "age"
                  [ngModelOptions]="{standalone: true}"
                  name = "age"
                  required>
              </mat-form-field>
              <h3>Address</h3>
  

               <mat-form-field appearance="standard">
                 Street:
                 <input matInput  type="text" 
                   [(ngModel)] = "street"
                   [ngModelOptions]="{standalone: true}"
                   name = "street"
                   required>
               </mat-form-field>

               <mat-form-field appearance="standard">
                 City:
                 <input matInput  type="text" 
                   [(ngModel)] = "city"
                   [ngModelOptions]="{standalone: true}"
                   name = "city"
                   required>
               </mat-form-field>

               <mat-form-field appearance="standard">
                 State:
                 <input matInput  type="text" 
                   [(ngModel)] = "state"
                   [ngModelOptions]="{standalone: true}"
                   name = "state"
                   required>
               </mat-form-field>
              <div>
				        <button mat-raised-button matStepperNext color="accent">Next</button>
				      </div>
				    </form>
				  </mat-step>
				  <mat-step [stepControl]="varientsecondFormGroup">
				    <form [formGroup]="varientsecondFormGroup">
				      <ng-template matStepLabel>Fill out your address</ng-template>
				      <h3>Professional Information</h3>
        <p>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="rExperience" name = "rExperience">
        <mat-radio-button class="example-radio-button" *ngFor="let rExperience of rExperiences" [value]="rExperience">
          {{rExperience}}  
        </mat-radio-button>
        </mat-radio-group>
    </p> 


    <p>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="educationLevel" name = "educationLevel">
        <mat-radio-button class="example-radio-button" *ngFor="let education of Educations" [value]="education">
          {{education}}  
        </mat-radio-button>
        </mat-radio-group>
    </p>

    <p>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="enrollment"  name = "enrollment">
        <mat-radio-button class="example-radio-button" *ngFor="let enrollment of enrollments" [value]="enrollment">
          {{enrollment}}  
        </mat-radio-button>
        </mat-radio-group>
    </p>

        <mat-form-field appearance="fill">
          Major dicipline
          <mat-select [(ngModel)]="majorDiscipline"  [ngModelOptions]="{standalone: true}"
          name = "majorDiscipline"  [(value)]="majorDiscipline" >
            <mat-option>None</mat-option>
            <mat-option value="5">STEM</mat-option>
            <mat-option value="4">Humanities</mat-option>
            <mat-option value="3">Business Degree</mat-option>
            <mat-option value="2">Other</mat-option>
            <mat-option value="1">No Major</mat-option>
            <mat-option value="0">Arts</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          Company type
          <mat-select [(ngModel)]="companytype" name = "companytype" 
          [ngModelOptions]="{standalone: true}"
          [(value)]="companytype" >
            <mat-option>None</mat-option>
            <mat-option value="5">Pvt Ltd</mat-option>
            <mat-option value="4">Funded Startup</mat-option>
            <mat-option value="3">Public Sector</mat-option>
            <mat-option value="2">Early Stage Startup</mat-option>
            <mat-option value="1">NGO</mat-option>
            <mat-option value="0">Other</mat-option>
          </mat-select>
        </mat-form-field>

            <p>
              <mat-form-field appearance="standard">
                Years of Experience:
                <input matInput  type="number" 
                  [(ngModel)] = "experienceYears"
                  [ngModelOptions]="{standalone: true}"
                  name = "experienceYears"
                  required>
              </mat-form-field>
            </p> 
        
            <p>
              <mat-form-field appearance="standard">
                Size of youre company:
                <input matInput  type="number" 
                  [(ngModel)] = "companySize"
                  [ngModelOptions]="{standalone: true}"
                  name = "companySize"
                  required>
              </mat-form-field>
            </p> 
				      <div class="button-row">
				        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
				        <button mat-raised-button color="accent" matStepperNext>Next</button>
				      </div>
				    </form>
				  </mat-step>
				  <mat-step>
				    <ng-template matStepLabel>Done</ng-template>
				    <p>
              <mat-form-field appearance="standard">
                Years in current position:
                <input matInput  type="number" 
                  [(ngModel)] = "yearsInCurrentJob"
                  [ngModelOptions]="{standalone: true}"
                  name = "yearsInCurrentJob"
                  required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="standard">
                Education years:
                <input matInput  type="number"
                  [(ngModel)] = "educationYears"
                  [ngModelOptions]="{standalone: true}"
                  name = "educationYears"
                  required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="standard">
                Training hours in current position:
                <input matInput  type="number"
                  [(ngModel)] = "trainingHours"
                  [ngModelOptions]="{standalone: true}"
                  name = "trainingHours"
                  required>
              </mat-form-field>
            </p>
				    <div class="button-row">
				      <button mat-raised-button color="grey" matStepperPrevious>Back</button>
				      <button mat-raised-button color="primary" (click)="submit()">Add Employee</button>
				    </div>
				  </mat-step>
				</mat-horizontal-stepper>
			</mat-card-content>
		</mat-card>    
	</div>
</form>
</div>







 
  

  
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->