<b>Youre employee:</b><p>{{answer}}{{id}}</p>
<h3>Youre employee is dying to leave you want to know what to do? register now!</h3>


<h1>  
    Limited time offer 40% discount  for first time users
</h1>

<a mat-raised-button
    color = "primary"
    routerLink="/signup">
    Register Now!</a>



