<br>
<div class="bye" style="color:white">
    <ng-template *ngIf = "(authService.user | async)?.uid, else other">
        <h1> Welcome to Orelmz Test :) </h1> <br><html>{{email}}</html>
        <p >You Logged In Successfully</p>
    </ng-template>
        <div #other>
            <h1>"What an amazing opportunity to know and understand the feelings of your team"</h1>
        <b>Fill out the analysis form for your employee and get "quickly and clearly" the chances of the employee leaving</b> 
        </div>
        
        <br>
        <a mat-raised-button
    class = "button2" routerLink="/form" style = "font-size:30px;height:60px;width:250px;background-color: #53a7a8;border-radius: 34px;text-align: center;line-height: 55px;">
   register now!</a>

</div>
<br>
<div class="bye">
    
   <img src="assets/img/background_home.jpg">
  </div>


